body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #131b37, #222e5b);
  background-size: cover;
  background-position: center;
  font-family: 'Inter', sans-serif;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 45px;

  margin: 1.5rem 60px 0 60px;
  padding: 20px 60px;

  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  position: relative;
}
.navigation a {
  text-decoration: none;
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;

  position: relative;
  padding: 6px 0;
}
.navigation a::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -22px;
  width: 0;
  height: 2px;
  background-color: rgb(0,255,255);
  transition: width 0.25s ease;
  border-radius: 2px;
}
.navigation a:hover::after,
.navigation a.active::after,
.navigation a[aria-current="page"]::after {
  width: 100%;
}
.container {
  display: flex;
  align-items: center;    
  justify-content: space-between;
  padding-left: 150px;
  
}
.text-container {
  max-width: 600px;
  width: 100%;
}
.title {
  color: rgb(27, 146, 250);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}
.description {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  color: white;
  width: 100%;
}
.par{
  color: rgb(27, 146, 250);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}
.contain{
  display: flex;
  align-items: center;    
  justify-content: space-between;
  padding: 25px 150px;
}
.paragraph-container {
  max-width: 600px;
  width: 100%;
}
.des{
  color: rgba(255, 255, 255, 0.75);;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 30px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  color: white;
  width: 100%;
}
